@import "base/reset";
@import "page/mq";
@import "abstracts/variables";
//mixin
header nav ul {
    justify-content: center;
    list-style: none;
    color: $color-textos;
    display: flex;
    padding-left: 15px;
    text-decoration: none;
    gap: 5%;
    font-weight: bold;
    font-size: 25px;
    font-style: normal;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    text-shadow: 10px 5px 8px #f800c2;
}

header .links {
    color: red;
}

p {
    text-align: justify;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 4rem;
    font-size: 20px;
}

h1 {
    margin-top: 4 rem;
    color: $color-textos;
    font-weight: bold;
    font-size: 45px;
    margin-top: 2rem;
    width: clamp(10vw, 100%, 100vw);
}

h3 {
    margin-top: 4 rem;
    color: $color-textos;
    font-weight: bold;
    font-size: 35px;
    margin-top: 2rem;
    width: clamp(10vw, 100%, 100vw);
}

h2 {
    margin-top: 5rem;
    text-align: center;
}

#derechos {
    color: darkorchid;
    text-align: center;
    margin-top: 25rem;
}

#textimg {
    margin-left: 11rem;
}

#imgsimple {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35% !important;
    border-radius: 10%;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
}

table tbody tr td {
    font-size: large;
    color: $color-textos;
    font-weight: bold;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

table thead tr th img {
    margin-top: 5rem;
    margin-left: 3rem;
    border-radius: 10%;
}

form {
    background-color: #F2ACB8;
}

form label {
    color: $color-textos;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
}

textarea {
    resize: none;
    width: 90%;
    height: 7rem;
    font-family: Arial, Helvetica, sans-serif;
}

button {
    padding: 17px 40px;
    border-radius: 25px;
    background-color: $color-textos;
    font-size: 15px;
    border: 0;
    letter-spacing: 2px;
    margin: 10px;
}